snippet knitr "knitr general options" b
\`\`\`{r setup, include=FALSE}
knitr::opts_knit$set(base.dir = '/home/chaconmo/Documents/Repositories/erickchacon/assets/images/')
knitr::opts_chunk$set(echo = TRUE, fig.path = "2017-04-22-visualizing-extremes-", fig.height = 5, dpi = 200)
\`\`\`
endsnippet

snippet r "r chunk" b
\`\`\`{r}
$1
\`\`\`
endsnippet

